*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > h1{
  display: inline-block;
  left: 50%;
  text-align: center;
  text-decoration-line:underline;
  text-decoration-style: double;
  position: relative;
  left: 35%;
  margin-bottom: 50px;
}


.format{
  margin: 5% auto 5% auto;
  width: 60%;
  border: 2px solid;
  border-left-style: dashed;
  border-bottom-style: dashed;
  padding: 50px;
  padding-bottom: 0;
  overflow: auto;
}

.blue{
  background-color: rgba(45, 174, 216, 0.235); 
  border-color: rgba(15, 50, 62, 0.406);
  color: rgba(3, 41, 53, 0.755);
}

.white{
  background-color: rgba(169, 169, 169, 0.18);
  border-color:  3px solid rgba(58, 58, 58, 0.762);
  color: rgba(58, 58, 58, 0.762);
}

.green{
  background-color: rgba(143, 188, 143, 0.618);
  border-color: rgba(34, 74, 34, 0.831);
  color: rgba(34, 74, 34, 0.831);
}

.format>:last-child{
  position: relative;
  text-decoration: overline;
  text-align: center;
  margin-top: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  
}

.start-text::first-letter{
  font-size: 1.6rem;
  font-weight: bolder;
  
}

.format>section>:first-child{
  margin: 20px 0;
  text-decoration: underline;
}


.blue li:nth-child(even)
{
  text-decoration-line:underline;
  text-decoration-style: dashed;
  color: rgba(5, 48, 62, 0.619);
}

.white li:nth-child(odd)
{
  text-decoration-line:underline;
  text-decoration-style: dashed;
  color: rgba(58, 58, 58, 0.578);
}

.green li:nth-child(2n)
{
  text-decoration-line:underline;
  text-decoration-style: wavy;
  color: rgba(34, 74, 34, 0.563);
}

.img-format{
  width: 35vh;
  border: 5px solid rgba(34, 74, 34, 0.964);
  position: absolute;
}
.charlotte{
  top: 10%;
  right: 10%;
}
.tiramisu{
  top:135%;
  right: 10%;
}
.cookies{
  top: 245%;
  right: 10%;
}