*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > h1{
  display: inline-block;
  left: 50%;
  text-align: center;
  text-decoration-line:underline;
  text-decoration-style: double;
  position: relative;
  left: 35%;
}


.format{
  position: relative;
  margin: 5% auto 5% auto;
  width: 60%;
  height: 55vw;
  border: 2px solid;
  border-left-style: dashed;
  border-bottom-style: dashed;
  padding: 50px;
  padding-bottom: 0;
  overflow: auto;

}

.blue{
  background-color: rgba(45, 174, 216, 0.235); 
  border-color: rgba(15, 50, 62, 0.406);
  color: rgba(3, 41, 53, 0.755);
}

.white{
  background-color: rgba(169, 169, 169, 0.18);
  border-color:  3px solid rgba(58, 58, 58, 0.762);
  color: rgba(58, 58, 58, 0.762);
}

.green{
  background-color: rgba(143, 188, 143, 0.618);
  border-color: rgba(34, 74, 34, 0.831);
  color: rgba(34, 74, 34, 0.831);
}

.format>h2{
  text-decoration:underline;
  margin: 30px auto 30px 0px;

}

.format>:last-child{
  position: absolute;
  text-decoration: overline;
  text-align: center;
  bottom: 10px;
}

.format>section>:first-child{
  margin: 20px 0;
}

.blue li:nth-child(even)
{
  text-decoration-line:underline;
  text-decoration-style: dashed;
  color: rgba(5, 48, 62, 0.619);
}

.white li:nth-child(odd)
{
  text-decoration-line:underline;
  text-decoration-style: dashed;
  color: rgba(58, 58, 58, 0.578);
}

.green li:nth-child(2n)
{
  text-decoration-line:underline;
  text-decoration-style: wavy;
  color: rgba(34, 74, 34, 0.563);
}
